* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
#box2 {
  height: 100px;
  width: 100px;
  background-color: rgb(125, 115, 135);
}
#box1 {
  height: 100px;
  width: 100px;
  background-color: rgb(204, 204, 204);
}
